//.list {
//  width: 100%;
//  margin-top: 10px;
//
//  .listTitle {
//    color: #ffffff;
//    font-size: 20px;
//    font-weight: 500;
//    margin-left: 50px;
//  }
//
//  .wrapper {
//    position: relative;
//
//    .container {
//      display: flex;
//      justify-content: start;
//      align-items: center;
//      flex-wrap: wrap;
//      margin-left: 50px;
//      width: max-content;
//      margin-top: 10px;
//      transform: translateX(0);
//      transition: transform .2s linear;
//    }
//  }
//}

.list {
  margin-left: 180px;
  margin-right: 170px;

  .listTitle{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
  }
  .container{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}