.list {
  width: 100%;
  margin-top: 10px;

  .listTitle {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
  }

  .wrapper {
    position: relative;
    .arrowIcon {
      width: 50px;
      height: 100%;
      color: #ffffff;
      position: absolute;
      z-index: 22;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;

      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }

    .container {
      margin-left: 50px;
      display: flex;
      width: max-content;
      margin-top: 10px;
      transform: translateX(0);
      transition: transform .2s linear;
    }
  }
}